<div class="container-fluid">
  <button
    id="addMemberButton"
    class="btn btn-primary pull-right"
    (click)="goToAddMemberForm()"
  >
    Add Member
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>update/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{member?.id}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td>
          <i class="fa fa-edit blue-color" (click)="this.editMemberByID(member.id)"></i
          ><i
            class="fa fa-times blue-color"
            (click)="this.deleteMemberById(member.id)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
